<nz-descriptions nzTitle="网站负责人">
    <nz-descriptions-item nzTitle="Administrator">Ryan</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Telephone">13056838253</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Live">Hangzhou, Zhejiang</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Remark">Empty</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address">
        No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CloudServer" [nzSpan]="3">
        <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
    </nz-descriptions-item>
</nz-descriptions>