<nz-table #basicTable [nzData]="SwiperList">
    <thead>
        <tr>
            <th>Newsid</th>
            <th>Title</th>
            <th>Src</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of SwiperList;">
            <td>{{ data.newsid }}</td>
            <td>{{ data.title }}</td>
            <td nz-popover nzPopoverTitle="照片预览" nzPopoverPlacement="bottom" [nzPopoverContent]="Content">{{ data.src }}</td>
            <ng-template #Content>
                <img class="popoverImg" [src]="data.src" alt="" srcset="">
            </ng-template>
            <td>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="Delete(data)">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>