<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" id="nickname" [value]="userInfo[0].admin" [disabled]="true" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid password">
            <input nz-input type="password" id="password" formControlName="password" placeholder="******" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="email" id="email" [value]="userInfo[0].email" [disabled]="true" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzTooltipTitle="Maxlength 11">
            <span>手机号</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input correct tel!">
            <input nz-input id="phoneNumber" maxlength="11" type=”text” formControlName="tel" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                [placeholder]="userInfo[0].tel" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" (click)="submitChange($event)">submit</button>
            <button nz-button (click)="resetForm($event)">reset</button>
        </nz-form-control>
    </nz-form-item>
</form>